networks:
  hangman-network:
    driver: bridge
  auth-network:
    driver: bridge

services:
  rust:
    build: ./multithreading/rust
    cpus: 8
    restart: no

  erlang:
    build: ./multithreading/erlang
    cpus: 8
    restart: no
  
  julia:
    build: ./multithreading/julia
    cpus: 8
    restart: no
  
  haskell:
    build: ./recursion/haskell
    restart: no

  ocaml:
    build: ./recursion/ocaml
    volumes:
      - ./recursion/ocaml/input:/app/input:ro
    restart: no

  lisp:
    build: ./recursion/lisp
    restart: no

  elixir:
    build: ./conversion/elixir
    volumes:
      - ./conversion/elixir/input:/app/input:ro
      - ./conversion/elixir/output:/app/output:wo

  scala:
    build: ./conversion/scala
    volumes:
      - ./conversion/scala/input:/app/input:ro
      - ./conversion/scala/output:/app/output:wo

  ruby-server:
    build:
      context: ./client-server/ruby
      dockerfile: Dockerfile.server
    container_name: ruby-server
    ports:
      - "2000:2000"
    networks:
      - hangman-network

  ruby-client:
    build:
      context: ./client-server/ruby
      dockerfile: Dockerfile.client
    container_name: ruby-client
    networks:
      - hangman-network
    depends_on:
      - ruby-server
    stdin_open: true
    tty: true
  
  groovy:
    build: ./data-parsing/groovy
    volumes:
      - ./data-parsing/groovy/input:/app/input:ro
    restart: no
  
  lua-server:
    build:
      context: ./client-server/lua
      dockerfile: Dockerfile.server
    container_name: lua-server
    ports:
      - "2000:2000"
    networks:
      - auth-network
  
  lua-client:
    build:
      context: ./client-server/lua
      dockerfile: Dockerfile.client
    container_name: lua-client
    networks:
      - auth-network
    depends_on:
      - lua-server
    volumes:
      - ./client-server/lua/input:/app/input:ro
      - ./client-server/lua/output:/app/output:wo
