version: '3.8'

services:
  rust:
    build: ./multithreading/rust
    cpus: 8
    restart: no

  erlang:
    build: ./multithreading/erlang
    cpus: 8
    restart: no
  
  julia:
    build: ./multithreading/julia
    cpus: 8
    restart: no
  
  haskell:
    build: ./recursion/haskell
    restart: no

  ocaml:
    build: ./recursion/ocaml
    volumes:
      - ./recursion/ocaml/input:/app/input:ro
    restart: no

  lisp:
    build: ./recursion/lisp
    restart: no
